<h2>{{column.name}}</h2>
<a href="" {{action 'addCard'}}>Add Card</a>
{{kb-delete-button click=(action 'deleteColumn')}}
<h4>{{column.board.id}}</h4>
<div class="kb-cards column-sortable">
  {{#each column.sortedCards as |card|}}
    {{kb-card card=card}}
  {{/each}}
</div>
